<div class="container">
	<div class="login-container">
		<h4 style="margin:0 0 5px 0;">Welcome to my Rails Test Project</h4>
		<p>Please login or register below:</p>
		<div class="clearfix">
			<div style="display: inline-block;"><%= button_to "Login", new_user_session_path, method: "get" %></div>
			<div style="display: inline-block; margin-left:10px;"><%= button_to "Register", new_user_registration_path, method: "get" %></div>
		</div>
	</div>
</div>