<%= form_for (@post) do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %><br>
    <%= f.label :content, "Content (HTML Friendly)" %>
    <%= f.text_area :content, size: "24x6" %><br>

  <div class='actions'>
    <%= f.submit %>
    <%= button_to 'Back', posts_path, method: "get" %>
  </div>
 <% end %>