<div class="container">
	<div class="post-container">	
		<div class="clearfix row">
			<div class="post">
				<p class="title"><%= @post.title %></p>
				<p class="author"><%= mail_to @post.user.email %></p>
				<p class="content"><%= raw @post.content %></p>

				<div class="warning">
					<p>Are you sure you want to delete this post?</p>
					<%= link_to 'Delete', @post, :confirm => "Delete", :method => :delete %>
					<%= link_to 'Edit', edit_post_path(@post) %>	
					<%= link_to 'Back', posts_path %>
				</div>
			</div>
		</div>
	</div>
</div>