<div class="container">
	<div class="header">
		<div style="display: inline-block;"><%= button_to 'New Post', new_post_path, method: "get" %></div>
		<div style="display: inline-block; margin-left:10px;"><%= button_to 'Logout', destroy_user_session_path, method: "delete" %></div>
	</div>
	<div class="post-container">	
		<% @posts.in_groups_of(3).each do |posts| %>
			<% posts.select! {|x| !x.nil?} %>
			<div class="clearfix row">
				<% posts.each do |post| %>
					<div class="post">
						<p class="title"><%= post.title %></p>
						<p class="author"><%= mail_to post.user.email %></p>
						<p class="content"><%= raw post.content %></p>
						<%= link_to 'View', post %>
						<% if current_user.admin? %>
							<%= link_to 'Edit', edit_post_path(post) %>
							<%= link_to 'Delete', posts_delete_path(post) %>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>