<div class="container">
	<div class="post-container">	
		<div class="clearfix row">
			<div class="post">
				<p class="title"><%= @post.title %></p>
				<p class="author"><%= mail_to @post.user.email %></p>
				<p class="content"><%= raw @post.content %></p>
				<%= link_to 'Back', posts_path %>
				<%= link_to 'Edit', edit_post_path(@post) %>
				<%= link_to 'Delete', posts_delete_path(@post) %>
			</div>
		</div>
	</div>
</div>