/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.container {
    width: 765px;
    margin: 0 auto;
    text-align:center;
}

.login-container {
	background:#B0F9A4;
	padding:20px;
	border: black solid 5px;
	display: inline-block;
}

.header {
  background:#B0F9A4;
  padding:10px;
  margin-bottom: 5px;
  border: black solid 5px;
}

.post-container {
  display: inline-block;
  text-align:center;
}

.row {}

.post {
  background:#B0F9A4;
  padding:20px;
  margin-left: 5px;
  margin-bottom: 5px;
  border: black solid 5px;
  float: left;
  width: 200px; 
}

.post .title {
  font-size: 20px;
}

.warning {
  background:#F9A4A4;
  border: black solid 5px;
  padding-bottom: 1em;
  display: inline-block;
}